<div class="index-landing-page">
  <div class="index-card">
    <div class="index-wrap">

        <div class="index-card-header">
        <h2><em>Your Appointments.<br> Your Way.</em></h2>
        <h3>Log In or Sign Up Now!</h3>
      </div>

    </div>
  </div>
</div>


